@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: "Be Vietnam Pro", sans-serif;
}

:root {
  --bg-Ornge: #e84949;
  --lt-black: #141313;
  --dk-black: #000000;
  --link-border: #ffffff1a;
  --lt-white: #ffffffb3;
  --dk-white: #ffffff;
  --dk-green: #18d26e;
  --project-shadow: #8dcfac;
  --skill-bg: #00ff77;
}

.wrapper {
  background: var(--lt-black);
  height: 100vh;
  /* width: 100vw; */
}

.container {
  /* keep checking it */
  /* width: 98%;
    margin: 0 auto; */
}

.nav-bar {
  height: 3rem;
  margin: 2em 0;
  padding: 1em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dk-black);
  overflow: hidden;
}

.name {
  text-decoration: none;
  display: flex;
  align-items: center;
  padding-left: 2em;
  position: relative;
}

.name h1 {
  color: var(--dk-white);
  margin-left: -1.2rem;
  font-size: 3em;
  font-weight: 700;
}

nav {
  margin-right: 2em;
}

ul {
  display: flex;
  gap: 2rem;
  background: var(--dk-black);
}

li {
  font-size: 2em;
  font-weight: 400;
  cursor: pointer;
}

li a {
  text-decoration: none;
  background: var(--dk-black);
  color: var(--dk-white);
}

.under-line {
  background: var(--dk-green);
  height: 2.5px;
  width: 1.2em;
  scale: 0;
  transition: all 0.1s ease-in;
  transform-origin: left;
}

li:hover > .under-line {
  scale: 1;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  margin: 2em;
  padding: 2em;
}

.left-part {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}

.hero-section-heading {
  font-size: 3.6rem;
  font-weight: 400;
  position: relative;
  overflow: hidden;
  color: var(--lt-white);
}

.hero-section-heading-2 {
  /* line-height: 65px; */
}

.role {
  font-weight: 800;
  color: var(--dk-green);
}

.social-links {
  display: flex;
  align-items: center;
  gap: 40px;
}

.social-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 50%;
  background: var(--link-border);
  border: 1px solid white;
  padding: 12px;
  transition: all 0.3s;
}

.social-links a i {
  font-size: 30px;
  color: var(--dk-white);
}

.social-links img {
  width: 31px;
}

.social-links a:hover {
  background: var(--dk-green);
}

.hero-section-desc {
  color: var(--lt-white);
  font-size: 1.7em;
  font-weight: 600;
  line-height: 35px;
}

.btn-green {
  background-color: var(--dk-green);
  width: fit-content;
  color: var(--dk-white);
  padding: 0.8rem 2.3rem;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.btn-green:before {
  content: "";
  background-color: var(--dk-white);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform: scaleX(0);
  transform-origin: left;
  transition-duration: 0.5s;
}

.btn-green:hover:before {
  transform: scaleX(1);
  z-index: -1;
}

.btn-green:hover {
  color: black;
  border: solid 3px var(--dk-green);
}

.right-part {
  position: relative;
}

.user-image {
  padding: 2.5rem;
  filter: grayscale(1);
  transition: all 1s;
  animation: scale-img 8s linear infinite;
}

.user-image img {
  /* 450px x 508px */
  height: 550px;
  width: 500px;
  z-index: -9;
}

@keyframes scale-img {
  0% {
    filter: grayscale(0);
    transform: scale(1);
  }
  50% {
    filter: grayscale(1);
    transform: scale(0.85);
    box-shadow: 3px 3px 10px var(--dk-green);
  }
  100% {
    filter: grayscale(0);
    transform: scale(1);
  }
}
/*=================================================================*/
/*-------------------------Project Section--------------------------*/
/*=============================================================== */

.projects {
  margin-top: 4rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 9em;
  padding: 50px;
}

.project-heading {
  font-size: 5rem;
  font-weight: 700;
  color: var(--dk-green);
  text-align: center;
}

.project-card {
  position: relative;
  height: 500px;
  width: 70%;
  margin: 0 auto;
  border-radius: 2em;
  box-shadow: 0px 0px 40px var(--project-shadow);
  background-repeat: no-repeat;
  background-size: cover;
}

/* To hide gradient using scale=0 */
.project-card::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(45deg, #343d68, #343634be, #343d687c);
  transform: scaleX(0);
  transform-origin: left;
  transition: all 0.4s;
  z-index: 1;
}

/* to applay gradient on hover */
.project-card:hover::before {
  transform: scaleX(1);
}

/* To add blackish bg on image */
.project-card::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #1f1f1f9a;
  transform: scaleX(1);
  z-index: 0;
}

.project-card:hover {
  box-shadow: 0px 0px 40px var(--dk-green);
}

.project-number {
  position: absolute;
  font-size: 12rem;
  font-weight: 900;
  color: var(--dk-white);
  z-index: 9;
  opacity: 0;
}

.project-card:hover > .project-number {
  opacity: 1;
}

.project-number-left {
  top: -0.2em;
}

.project-number-right {
  top: -0.2em;
  right: 0;
}

.project-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 2em;
  z-index: 9;
}

.project-card:hover .project-content {
  transform: scaleX(1.1);
}

.project-left {
  top: 30%;
  left: 3%;
}

.project-right {
  top: 30%;
  right: 3%;
}

.project-skills {
  display: flex;
  gap: 1em;
}

.project-skills img {
  width: 50px;
}

.project-content h2 {
  font-size: 3rem;
  font-weight: 900;
  color: var(--dk-white);
}

.project-content p {
  font-size: 1.3em;
  font-weight: 500;
  color: var(--dk-white);
}

.btn-group {
  display: flex;
  gap: 2em;
  align-items: center;
}

.btn-group .btn-green:hover {
  border: none;
}

.btn-group i {
  overflow: hidden;
  font-size: 40px;
  color: var(--dk-white);
}

.btn-group a:hover > i {
  color: var(--dk-green);
}

#project-1 {
  background-image: url(/images/food.png);
  margin-left: 120px;
}

#project-2 {
  background-image: url(/images/home_interior.jpg);
  margin-right: 120px;
}
#project-3 {
  background-image: url(/images/travel.jpg);
  margin-left: 120px;
}

#project-4 {
  background-image: url(/images/photography.jpg);
  margin-right: 120px;
}

/* ================================================================= */
/* -------------------------Skill Section-------------------------- */
/* =============================================================== */
.skill-section {
  /* height: 35em;
  width: 90%; */
  margin: 4em;
  margin-top: 7em;
}

.skill-heading {
  font-size: 5rem;
  font-weight: 700;
  color: var(--dk-green);
  text-align: center;
}

.skill-heading span {
  color: var(--lt-white);
}

.skill-animation {
  display: inline-flex;
  margin-top: 7em;
  padding: 1em;
  /* border: 4px solid white; */
}

.skill-container {
  /* height: 280px; */
  padding: 1em;
  display: flex;
  gap: 2em;
  animation: 15s skill infinite linear;
}

@keyframes skill {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.skill-div {
  width: 260px;
  height: 260px;
  padding: 1em;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--skill-bg);
  overflow: hidden;
}

.skill-image {
  background: var(--lt-black);
  width: 255px;
}

.skill-animation:hover .skill-container {
  animation-play-state: paused;
}

.skill-div:hover .skill-image {
  scale: 1.2;
  background: var(--lt-black);
  background: var(--skill-bg);
}

.skill-div:hover {
  box-shadow: 0px 0px 15px var(--dk-white);
}

/* ================================================================= */
/* -------------------------Contact Me Section-------------------------- */
/* =============================================================== */
.contact-me-section {
  position: relative;
  margin: 1em;
  margin-top: 7em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-me-heading {
  text-align: center;
  font-size: 5em;
  font-weight: 700;
  color: var(--dk-green);
}

.contact-me-para {
  padding: 0.2em;
  text-align: center;
  color: var(--lt-white);
  font-size: 1.7em;
  font-weight: 600;
  line-height: 35px;
}

.contactme-content {
  width: 100%;
  margin-top: 2em;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  padding: 2em;
  z-index: 1;
}

.my-info {
  width: 100%;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.link-container {
  padding: 0.4em;
  display: flex;
  align-items: center;
  gap: 2em;
}

.link-container div {
  background: var(--dk-green);
  border-radius: 50%;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.link-container img {
  width: 30px;
}

.link-container div:hover {
  background: var(--dk-white);
}

.link-container div:hover img {
  scale: 1.2;
}

.link-container p {
  font-size: 1.5em;
  font-weight: 600;
  color: var(--lt-white);
}

.contact-links {
  margin-top: 3em;
  width: 80%;
  display: flex;
  justify-content: center;
  gap: 0.9em;
  flex-wrap: wrap;
}

.contact-links a {
  background: var(--dk-green);
  border-radius: 50%;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-links img {
  width: 35px;
}

.contact-links a:hover {
  background: var(--dk-white);
}

.contact-links a:hover img {
  scale: 1.2;
}

.contact-me-img {
  position: absolute;
  right: -1.5%;
  bottom: 0%;
  z-index: -1;
}

.form {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
  padding: 2em;
}

.formfield {
  width: 100%;
  height: 42px;
  padding: 0 2rem;
  font-size: 18px;
  font-weight: 500;
  border-radius: 20px;
  border: none;
  box-shadow: 2px 2px 10px var(--dk-green);
}

.text-area {
  height: auto;
  padding-top: 1em;
}

#submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;

  border: none;
  font-size: 1.4rem;
  margin: 1rem 0;
  box-shadow: 5px 5px 7px 0 var(--lt-white);
}

#submit-btn:hover {
  scale: 0.9;
  box-shadow: 5px 5px 7px 0 var(--dk-green);
}

/* ================================================================= */
/* -------------------------Footer Section-------------------------- */
/* =============================================================== */
.footer-section {
  margin: 1em;
  margin-top: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copywrite {
  text-align: center;
  font-size: 1.3em;
  font-weight: 600;
  color: var(--lt-white);
}
